*.bin
*.ipch

*.out
*.bin
*.o
*.make
*.d
*.cmake
*.marks

.cmake/
CMakeFiles/
Makefile
CMakeCache.txt
.ninja_deps
.ninja_log
*.ninja
*.a
test_tcp_client
test_tcp_server
test_udp_server
websocket_sample
compile_commands.json
